:root {
    --text-color-header: #ffffff;
    --menu-color: #3d3d3d;
    --nav-items-color: #ffffff;
    --nav-background-color: #3d3d3d;
}

@media screen and (max-device-width: 500px) and (orientation: portrait) {
    #menu {
        display: block !important;
    }

    #navItems {

        display: none !important;
    }

    #dropMenu.hidden {
        display: none;
    }
    #catchPhrase {
        display: none;
    }
}

@media screen and (max-device-width: 950px) and (orientation: landscape) {
    #catchPhrase {
        display: none;
    }
    #menu {
        padding: 0 !important;
    }
}

@media screen and (min-device-width: 500px) and (max-device-width: 1025px) and (orientation: portrait) {
    #menu {
        display: block !important;
    }

    #navItems {

        display: none !important;
    }

    #dropMenu.hidden {
        display: none;
    }
}

@media screen and (min-device-width: 950px) and (max-device-width: 1350px) and (orientation: landscape) {}

@media (max-width:880px) {
    /* --nav-items-color : #ffffff; */
    /* --nav-background-color : #111111; */

    #menu {
        display: block !important;
    }

    #navItems {

        display: none !important;
    }

    #dropMenu.hidden {
        display: none;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    zoom: 0.99;
    height: 100vh;
    width: 100vw;
}

#homeLink {
    height: 100%;
}

#header {
    background-color: #3d3d3d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 10vh;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.5);
}

#brand {
    display: flex;
    height: 100%;
    align-items: center;
    text-wrap-mode: nowrap;
}

#headLogo {
    height: 100%;
}

#headTextContainer {
    display: block;
}

#brandHeadText {
    font-weight: bold;
    color: var(--text-color-header);
    font-size: 1.5em;
}

#catchPhrase {
    color: #8893a2
}

#mainContent {
    height: 90vh;
    width: 100vw;
}

#navMenu {
    display: flex;
    /* padding: 1em; */
}

#menu {
    padding: 0.5em;
    background-color: var(--menu-color);
    border-radius: 2px;
    display: none;
    color: #ffffff;
    position: relative;
    margin-right: 1.5rem;
}

#menuButton {
    padding: 0.5em;
    background-color: var(--menu-color);
    border-radius: 2px;
    color: #ffffff;
}

#menuButton:focus {
    background-color: #000000;
}

#dropMenu {

    position: absolute;
    background-color: var(--menu-color);
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    font-size: 1.2em;
    text-wrap-mode: nowrap;
    cursor: pointer;
}

#navItems{
    display: flex;
    text-wrap-mode: nowrap;
    cursor: pointer;
}

.navDropItems {
    padding: 0.2em 1em;
}

.navItems {
    color: var(--nav-items-color);
    transition: all .2s ease-out;
    margin-right: 2em;
    display: inline-block;
    position: relative;
    background-color: var(--nav-background-color);
}

.navItems::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--text-color-header);
    transform-origin: center;
    transition: transform 0.25s ease-out;
}

.navItems:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

.navItems:hover {
    font-weight: bold;
}