@media screen and (max-device-width: 500px) and (orientation: portrait) {
    #aboutUsContainer {
        display: block !important;
        min-width: 0 !important;
    }

    #aboutUsLogoContainer {
        width: 100% !important;
    }

    #aboutUsLogo {
        height: auto !important;
        width: 50% !important;
    }

    #aboutUsTextContainer {
        width: 100% !important;
    }

    #whyUsContainer {
        display: block !important;
        min-width: 0 !important;
    }

    #whyUsTextContainer {
        width: 100% !important;
    }

    #whyUsDesc{
        margin-right: 2rem;
    }

    #whyUsLogoContainer {
        width: 100% !important;
    }

    #whyUsLogo {
        height: auto !important;
        width: 50% !important;
    }

    #aboutUsFooter {
        height: auto !important;
    }
}

@media screen and (max-device-width: 950px) and (orientation: landscape) {

    #aboutUsContainer {
        min-width: 0 !important;
    }

    #whyUsContainer {
        min-width: 0 !important;
    }

    #aboutUsFooter {
        height: auto !important;
    }
    
}
@media screen and (max-device-width: 500px) and (orientation: landscape) {

    #aboutUsContainer {
        min-width: 0 !important;
    }

    #whyUsContainer {
        min-width: 0 !important;
    }

    #aboutUsFooter {
        height: auto !important;
    }
    
}

@media screen and (min-device-width: 500px) and (max-device-width: 1025px) and (orientation: portrait) {
    #aboutUsContainer {
        display: block !important;
        min-width: 0 !important;
    }

    #aboutUsLogoContainer {
        width: 100% !important;
    }

    #aboutUsLogo {
        height: auto !important;
        width: 50% !important;
    }

    #aboutUsTextContainer {
        width: 100% !important;
    }

    #whyUsContainer {
        display: block !important;
        min-width: 0 !important;
    }

    #whyUsTextContainer {
        width: 100% !important;
    }

    #whyUsDesc {
        margin-right: 2rem;
    }

    #whyUsLogoContainer {
        width: 100% !important;
    }

    #whyUsLogo {
        height: auto !important;
        width: 50% !important;
    }

    #aboutUsFooter {
        height: auto !important;
    }
}

@media screen and (min-device-width: 950px) and (max-device-width: 1350px) and (orientation: landscape) {}

@media (max-width:767px) {
    
}

#aboutUsContainer{
    width: 100%;
    min-width: 800px;
    background-color: #3d3d3d;
    display: flex;
}

#aboutUsLogoContainer{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
}

#aboutUsLogo{
    width: 80%;
    min-width: 10rem;
}

#aboutUsTextContainer{
    margin: 0 0 0 1em;
    width: 70%;
}

#aboutUsHeadText{
    color: #ffffff;
}

#aboutUsDesc{
    color: #ffffff;
    text-align: justify;
    margin-right: 2rem;
}

#whyUsContainer {
    width: 100%;
    min-width: 800px;
    background-color: #ffffff;
    display: flex;
}

#whyUsTextContainer{
    width: 70%;
    margin: 0 0 0 1em;
}

#whyUsHeadText{
    color: #000000;
}

#whyUsDesc{
    color: #000000;
    text-align: justify;
}

#whyUsLogoContainer {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
}

#whyUsLogo {
    width: 100%;
    min-width: 10rem;
}

#aboutUsFooter{
    height: 5%;
}

#aboutUsFooterText {
    margin: 1em;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
}

footer {
    background: white;
    color: #3d3d3d;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}